@import url('https://fonts.googleapis.com/css2?family=Acme&family=Signika&display=swap');
:root{
    --main-color: white;
    font-family: Open Sans,sans-serif;
}
.clock{
    font-size: 28px;
    text-align: center;
    color: aliceblue;
}
body  {
    width: 100%;
    max-width: 1200px !important;
    margin: auto !important;
    text-align: center !important;
    background-image: url(../img/background.png);
    background-size: cover;
}
.burger-icon{
    color: white;
    margin-left: auto;
}
header nav a .logo-img{
    width: 131px;
    display: flex;
}
#burger-checkbox{
    display: none;
}
header nav .hotbar{
    display: none;
}
header nav input:checked ~ .hotbar{
    display: block;
}
header nav .hotbar a{
    display: block;
    font-family: Open Sans,sans-serif;
    text-decoration: none;
    text-align: center;
    color: var(--main-color);
    border: 1px solid transparent;
    padding: 5px;
}
.hotbar > a:hover{
    color: orange;
}
header nav {
    display: flex;
    padding-top: 30px;
    margin: 0px 30px 0px 0px;
}
header .bannerimg{
    display: flex;
    align-items: center;
}
.bg-img img{
    width: 100%;
}
header .banner{
    margin: 200px 0px 0px 45px;
}
header .banner h1{
    font-size: 4.4rem;
    font-family: "Acme",sans-serif;
    color: var(--main-color);
    margin: 0px;
}
header .banner p{
    font-size: 18px;
    line-height: 1.6;
    font-family: Open Sans,sans-serif;
    font-weight: 700;
    color: var(--main-color);
    margin: 30px 0px 30px 0px;
}
.btn-learnmore{
    padding: 18px 26px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #edc100;
    border-radius: 4px;
    line-height: 1.2;
    color: white;
    background-color: #edc100;
    font-family: Open Sans,sans-serif;
}
.btn-schedule{
    padding: 18px 26px;
    margin-left: 5px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 2px;
    line-height: 1.2;
    color: white;
    background-color: #212121;
    font-family: Open Sans,sans-serif;
}
.btn-learnmore:hover{
    background: white;
    color: black;
    border: 2px solid white;
}
.btn-schedule:hover{
    background: white;
    color: black;
}
header .company-info{
    padding-top: 170px;
    padding-bottom: 100px;
    text-align: center;
}
header .company-info h2{
    color: #edc100;
    font-size: 60px;
    font-family: "Acme",sans-serif;
    font-weight: bold;
    margin: auto;
}
header .company-info p{
    color: rgb(151, 151, 151);
    font-size: 16px;
    font-family: Open Sans,sans-serif;
    font-weight: bold;
}
header .partners{
    padding-left: 30px;
}
header .partners h2{
    color: white;
    font-family: Open Sans,sans-serif;
    font-size: 35px;
    font-weight: 700;
    }
header .partners p{
    color: white;
    font-family: Open Sans,sans-serif;
    font-size: 19px;
}
header .partners-img{
    text-align: center;
}
header .partners-img img{
    width: 100%;
    max-width: 320px;
    height: 205px;
    background: rgb(43, 42, 42);
    margin-bottom: 30px;
    padding: 31px 27px 31px 27px;
    
}
main .about-us{
    background: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 90px;
}

main .dem-fight-img img{
    width: 100%;
    max-width: 375px;
    height: auto;
    text-align: center;
}
main #about-us{
    font-size: 38px;
    color: #212121;
    line-height: 1.3;
    font-family: Signika,sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
    letter-spacing: -.01em;
}
main .about-us p{
    font-size: 18px;
    line-height: 1.6;
    font-family: Open Sans,sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    color: #555;
}
main .about-us span{
    font-size: 16px;
    line-height: 1.7;
    font-family: Open Sans,sans-serif;
    font-weight: 500;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    color: #555;
}
main .join-us{
    background: #eeb806;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 90px;
}
main .join-us h2{
    font-size: 60px;
    color: #212121;
    line-height: 1;
    font-family: "Acme",sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    margin: 0px;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 35px;
}
main .join-us p{
    font-size: 18px;
    line-height: 1.6;
    font-family: Open Sans,sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    color: rgb(61, 60, 60);
    text-align: center;
}
main .btn-schedul{
    padding: 18px 26px;
    margin-left: 5px;
    font-size: 16px;
    font-weight: bold;
    border: 3px solid rgb(61, 60, 60);
    border-radius: 2px;
    line-height: 1.2;
    color: rgb(61, 60, 60);
    background-color: #eeb806;
    font-family: Open Sans,sans-serif;
}
main .btn-schedull{
    padding: 18px 26px;
    margin-left: 5px;
    font-size: 16px;
    font-weight: bold;
    border: 3px solid rgb(61, 60, 60);
    border-radius: 2px;
    line-height: 1.2;
    color: white ;
    background-color: rgb(61, 60, 60);
    font-family: Open Sans,sans-serif;
}
main .our-team {
    background: white;
}
main .our-team section{
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 50px;
}
main .our-team div img{
    width: 100%;
    max-width: 375px;
    height: auto;
    text-align: center;
}
main .our-team h2{
    font-size: 29px;
    line-height: 1.4;
    font-family: Signika,sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    letter-spacing: .027em;
    color: #212121;
}
main .our-team h3{
    font-size: 14px;
    line-height: 1.6;
    font-family: Open Sans,sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    color: #555;
}
main .our-team p{
    font-size: 16px;
    line-height: 1.7;
    font-family: Open Sans,sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    color: #555;
}
main .our-team section img{
    width: 100%;
    max-width: 40px;
    height: auto;
}
main .courses{
    padding-top: 40px;
    padding-left: 25px;
    padding-right: 25px;
}
main .courses h2{
    font-size: 42px;
    color: white;
    line-height: 1.3;
    font-family: Signika,sans-serif;
    font-weight: 600;
    text-decoration: none;
    font-style: normal;
    letter-spacing: -.01em;
    text-align: center;
}
main .courses p{
    font-size: 18px;
    line-height: 1.6;
    font-family: Open Sans,sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    color: white;
    text-align: center;
}
@media (min-width: 769px){
    header nav .hotbar{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 1;
        font-family: Open Sans,sans-serif;
        text-decoration: none;
        font-weight: bold;
        color: var(--main-color);
        border: 1px solid transparent;
    }
    .burger-icon{
        display: none;
    }
    header .company-info{
        display: flex;
        justify-content: space-around;
    }
    main .about-us{
        display: flex;
        text-align: left;
        align-items: center;
    }
    main .about-us img{
        width: 100%;
        max-width: 1000px;
        height: auto;
    }
    main .about-us div{
        padding: 30px 30px 30px 30px;
    }
    main .our-team {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    main .our-team img{
    width: 100%;
    max-width: 375px;
    height: auto;
    text-align: center;
}
}
