@import url('https://fonts.googleapis.com/css2?family=Acme&family=Signika&display=swap');
:root{
    --main-color: white;
    font-family: Open Sans,sans-serif;
}
body{
    max-width: 100%;
    margin: auto;
}
.burger-icon{
    color: white;
    margin-left: auto;
}
header nav a .logo-img{
    width: 131px;
    display: flex;
}
#burger-checkbox{
    display: none;
}
header nav .hotbar{
    display: none;
}
header nav input:checked ~ .hotbar{
    display: block;
}
header nav .hotbar a{
    display: block;
    font-family: Open Sans,sans-serif;
    text-decoration: none;
    text-align: center;
    color: var(--main-color);
    border: 1px solid transparent;
    padding: 5px;
}
.hotbar > a:hover{
    color: orange;
}
header nav {
    display: flex;
    padding-top: 30px;
    margin: 0px 30px 0px 30px;
}
.btn-learnmore{
    padding: 18px 26px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #edc100;
    border-radius: 4px;
    line-height: 1.2;
    color: white;
    background-color: #edc100;
    font-family: Open Sans,sans-serif;
}
.btn-schedule{
    padding: 18px 26px;
    margin-left: 5px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 2px;
    line-height: 1.2;
    color: white;
    background-color: #212121;
    font-family: Open Sans,sans-serif;
}
.btn-learnmore:hover{
    background: white;
    color: black;
    border: 2px solid white;
}
.btn-schedule:hover{
    background: white;
    color: black;
}
@media (min-width: 769px){
    header nav .hotbar{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 1;
        font-family: Open Sans,sans-serif;
        text-decoration: none;
        font-weight: bold;
        color: var(--main-color);
        border: 1px solid transparent;
    }
    .burger-icon{
        display: none;
    }
    header div .partners{
        display: flex;
        width: 131px;
    }
}